<div id="sidebar" class='active'>
    <div class="sidebar-wrapper active">
<div class="sidebar-header">
<img src="assets/images/logoUnand.png" alt="" srcset=""> 
<p>Portal Akademik</p>
</div>
<div class="sidebar-menu">
<ul class="menu">

        
        <li class='sidebar-title'>Menu</li>
        
        <li class="sidebar-item">

            <a href="/dashboardDosen" class='sidebar-link'>
                <i data-feather="home" width="20"></i> 
                <span>Dashboard</span>
            </a>

            
        </li>   
        <li class="sidebar-item has-sub">
            <a href="/rps" class='sidebar-link'>
                <i data-feather="layers" width="20"></i> 
                <span>RPS</span>
            </a>
            <ul class="submenu">

                <li><a class="sidebar-link" href="cpmk">CPMK</a></li>
                <li><a class="sidebar-link" href="pertemuanmingguan">Pertemuan Mingguan</a></li>
                <li><a class="sidebar-link" href="referensi">Referensi</a></li>
                <li><a class="sidebar-link" href="KompPenilaian">Komponen Penilaian</a> </li> 
            </ul>
                           
        </li>
        
    
</ul>
</div>
<button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
</div>
</div>