<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard Dosen - Edit RPS</title>
        
        <link rel="stylesheet" href="assets/css/bootstrap.css">
        
        <link rel="stylesheet" href="assets/vendors/chartjs/Chart.min.css">
    
        <link rel="stylesheet" href="assets/vendors/simple-datatables/style.css">
    
        <link rel="stylesheet" href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
        <link rel="stylesheet" href="assets/css/app.css">
        <link rel="shortcut icon" href="assets/images/logounand.png" type="image/x-icon">
    </head>
<body>
    <div id="app">
        <!-- sidebar -->
        <%- include('layouts/sidebar') %> 
        
        <!-- headerr -->
        <%- include('layouts/header') %> 
        <div id="main">
            
            
        <section class="section">
            <div class="card">
                
                <div class="card-body">
                    <table class='table table-striped' id="table1">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>CPMK</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-bold-500">1</td>
                            <td>Mahasiswa mampu menjelaskan konsep dasar aplikasi berbasis web</td>
                            <td>

                                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#inlineFormCpmk">Edit</button>
                    
                            <div class="modal fade text-left" id="inlineFormCpmk" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel33" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel33">Tambah CPMK </h4>
                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <form action="#">
                                            <div class="modal-body">
                                                
                                                <label>CPMK </label>
                                                <div class="form-group">
                                                    <input type="text" placeholder="Masukkan cpmk"
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-light-secondary"
                                                    data-bs-dismiss="modal">
                                                    <i class="bx bx-x d-block d-sm-none"></i>
                                                    <span class="d-none d-sm-block">Batal</span>
                                                </button>
                                                <button type="submit" class="btn btn-primary ml-1"
                                                    data-bs-dismiss="modal">
                                                    <i class="bx bx-check d-block d-sm-none"></i>
                                                    <span class="d-none d-sm-block">Tambah</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                
                            <a onClick="return confirm('Apakah Anda Yakin Ingin Menghapus ? ')" class="btn btn-danger">Hapus</a>

                            </td>
                        </tr>
                    </tbody>
                </table><br>
                
                <span>
                    <!-- Button trigger for tambah form modal -->
                    <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal"
                        data-bs-target="#inlineFormCpmk">
                        Tambah
                    </button>
                
                    <!--tambah form Modal -->
                    <div class="modal fade text-left" id="inlineFormCpmk" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel33" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel33">Tambah CPMK </h4>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <i data-feather="x"></i>
                                    </button>
                                </div>
                                <form action="#">
                                    <div class="modal-body">
                                        
                                        <label>CPMK </label>
                                        <div class="form-group">
                                            <input type="text" placeholder="Masukkan cpmk"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-secondary"
                                            data-bs-dismiss="modal">
                                            <i class="bx bx-x d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Batal</span>
                                        </button>
                                        <button type="submit" class="btn btn-primary ml-1"
                                            data-bs-dismiss="modal">
                                            <i class="bx bx-check d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Tambah</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        </section>
    </div>
    
</div>

<footer>
    <div class="footer clearfix mb-0 text-muted">
        <div class="float-start">
            
            <p>RPS App - Universitas Andalas</p>
        </div>
    </div>
</footer>
        </div>
    </div>
    <script src="assets/js/feather-icons/feather.min.js"></script>
    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/app.js"></script>
    
<script src="assets/vendors/simple-datatables/simple-datatables.js"></script>
<script src="assets/js/vendors.js"></script>

    <script src="assets/js/main.js"></script>
</body>
</html>
 