<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard Admin - CPMK - CPL</title>
        
        <link rel="stylesheet" href="assets/css/bootstrap.css">
        
        <link rel="stylesheet" href="assets/vendors/chartjs/Chart.min.css">
    
        <link rel="stylesheet" href="assets/vendors/simple-datatables/style.css">
    
        <link rel="stylesheet" href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
        <link rel="stylesheet" href="assets/css/app.css">
        <link rel="shortcut icon" href="assets/images/logounand.png" type="image/x-icon">
    </head>
<body>
    <div id="app">
        <!-- sidebar -->
        <%- include('layouts/sidebaradmin') %> 
        
        <!-- headerr -->
        <%- include('layouts/headeradmin') %> 
        <div id="main">
            
            
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Peta CPMK ke CPL</h3>
                <p class="text-subtitle text-muted">Halaman peta CPMK ke CPL</p>
            </div>
        </div>
    </div>
    
</div>

<footer>
    <div class="footer clearfix mb-0 text-muted">
        <div class="float-start">
            
            <p>RPS App - Universitas Andalas</p>
        </div>
    </div>
</footer>
        </div>
    </div>
    <script src="assets/js/feather-icons/feather.min.js"></script>
    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/app.js"></script>
    
<script src="assets/vendors/simple-datatables/simple-datatables.js"></script>
<script src="assets/js/vendors.js"></script>

    <script src="assets/js/main.js"></script>
</body>
</html>
