
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPS</title>
    
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    
<link rel="stylesheet" href="assets/vendors/simple-datatables/style.css">

    <link rel="stylesheet" href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="shortcut icon" href="assets/images/logoUnand.png" type="image/x-icon">
</head>
<body>
    <div id="app">
        <!-- sidebar -->
        <%- include('layouts/sidebar') %> 
        
        <!-- headerr -->
        <%- include('layouts/header') %> 
        <div id="main">
          
            
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Rencana Pembelajaran Semester</h3>
                <!-- <p class="text-subtitle text-muted">Selamat Datang!</p> -->
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
               
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            
            <div class="card-body">
                <table class='table table-striped' id="table1">
                    <thead>
                        <tr>
                            <th>Kode Matkul</th>
                            <th>Nama Matkul</th>
                            <th>aksi</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>JSI001</td>
                            <td>Pemrograman Web</td>
                            <td><a href="#" class="btn btn-primary">Detail</a></td>
                           
                        </tr>
                        <tr>
                            <td>JSI002</td>
                            <td>Data Mining</td>
                            <td><a href="#" class="btn btn-primary">Detail</a></td>
                           
                        </tr>
                        <tr>
                            <td>JSI003</td>
                            <td>Perancangan Basis Data</td>
                            <td><a href="#" class="btn btn-primary">Detail</a></td>
                           
                        </tr>
                        <tr>
                            <td>JSI004</td>
                            <td>Analisis dan Visualisasi Data</td>
                            <td><a href="#" class="btn btn-primary">Detail</a></td>
                           
                        </tr>
                       

                    </tbody>
                </table>
            </div>
        </div>

    </section>
</div>

           
        </div>
    </div>
    <script src="assets/js/feather-icons/feather.min.js"></script>
    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/app.js"></script>
    
<script src="assets/vendors/simple-datatables/simple-datatables.js"></script>
<script src="assets/js/vendors.js"></script>

    <script src="assets/js/main.js"></script>
</body>
</html>
